<html>
  <head>
    {% if title %}
    <title>{{title}} - Python, a love story.</title>
    {% else %}
    <title>Blog - Python, a love story.</title>
    {% endif %}
  </head>
  <body>
    <div>Blog: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
    
